---
title: Thank you
layout: default
---

<!--===    HEADER    ===-->
<section class="bg-19 bg-center bg-cover">
	<div class="bg-filter">
		<div class="container section-lg">
			<h1 class="top-title">Thank you</h1>
		</div>
	</div>
</section>
<!--===  END  HEADER    ===-->

<!--===    MAIN WRAP     ===-->
<section class="section-lg">
	<h2 class="sr-only">Thank you</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="slogan wow fadeInLeft">
					<h2>Thanks for getting in touch with us.</h2>
					<h3>Your email has been received and our customer care team will be in touch with you soon.</h3>
					<div class="space-sm"></div>
					<div class="space-sm"></div>
					<a href="/"><img src="../images/FullCircle_transparent.png" title="Home" alt="Home" height="75" width="75" /></a>
					<div class="space-sm"></div>
					<a href="http://github.com/Full360Solutions/Saucery" target="_blank"><img src="../images/github-lg.png" title="Saucery Usage Examples" alt="Saucery Usage Examples" height="75" width="75" /></a>
					<ul class="row list-inline hidden-md hidden-lg" id="xssm-Grid">
						{% include saucery-button-layout-xssm.html %}
					</ul>
					<ul class="row list-inline hidden-xs hidden-sm hidden-lg" id="md-Grid">
						{% include saucery-button-layout-md.html %}
					</ul>
					<ul class="row list-inline hidden-xs hidden-sm hidden-md" id="lg-Grid">
						{% include saucery-button-layout-lg.html %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>