---
title: Download Saucery
layout: default
---

<!--===    HEADER     ===-->
<section class="bg-16 bg-center bg-cover">
	<div class="bg-filter">
		<div class="container section-lg">
			<h1 class="top-title">Download</h1>
		</div>
	</div>
</section>
<!--===/END      HEADER     ===-->

<!--===    MAIN WRAP     ===-->
<section class="section">
	<div class="container-sm">
		<ul class="row list-inline hidden-md hidden-lg" id="xssm-Grid">
			{% include saucery-button-layout-xssm.html %}
		</ul>
		<ul class="row list-inline hidden-xs hidden-sm hidden-lg" id="md-Grid">
			{% include saucery-button-layout-md.html %}
		</ul>
		<ul class="row list-inline hidden-xs hidden-sm hidden-md" id="lg-Grid">
			{% include saucery-button-layout-lg.html %}
		</ul>
		
		<div class="space-sm"></div>
		<div class="video-container">
			<!--Saucery 3-->
			<iframe width="560" height="315" src="https://www.youtube.com/embed/1WS5vQEi3TI?rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div class="space-sm"></div>
		<div class="video-container">
			<!--Saucery 2-->
			<iframe width="560" height="315" src="https://www.youtube.com/embed/tsRg4_My6hk?rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<!--<hr class="hr">
		<ul class="list-unstyled info-list">
			<li><strong>Category: </strong>Automated Testing</li>
			<li><strong>Services in project: </strong>C# SauceLabs Desired Capability Factory</li>
		</ul>-->
		
		<hr class="hr">

		<div class="inline-btn" align="center">
			<a class="btn btn-primary-trn btn-xlg" href="../products.html"><i class="fa fa-arrow-left"></i>Back To Products</a>
		</div>
	</div>
</section>

<!--<section class="bg-grey section">
	<div class="container">
		<div class="clearfix ">
			<h3 class="pull-left">More Projects</h3>
			<a href="../products.html">
				<h3 class="pull-right">View all projects</h3>
			</a>
		</div>
		<div class="space-sm"></div>
		<div class="row portfolio-grid">
			<div class="col-md-4 col-sm-6">
				<a href="portfolio/portfolio-item-v1.html" title="View portfolio item">
					<div class="hover-content">
						<img src="assets/img/sign-up-sketch.jpg" class="img-responsive" alt="Portfolio - application">
						<div class="top-part hidden-xs">
							<i class="fa fa-eye"></i>
						</div>
						<div class="bottom-part hidden-xs">
							<h3>Title</h3>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<a href="portfolio/portfolio-item-v1.html" title="View portfolio item">
					<div class="hover-content">
						<img src="assets/img/minimal-wireframe-assets.jpg" class="img-responsive" alt="Websites Layout">
						<div class="top-part hidden-xs">
							<i class="fa fa-eye"></i>
						</div>
						<div class="bottom-part hidden-xs">
							<h3>Title</h3>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>-->
<!--===/END    MAIN WRAP     ===-->