body {
    background-color: #FFFFFF; 
}
.div-background-img {
    background: url('../images/FCS_transparent_opaque.png') no-repeat center;
    background-size:300px;
}

.div-xi-background-img {
    background: url('../images/XInvoices_Transparent_Opaque.png') no-repeat center;
    background-size:300px;
}

.div-xr-background-img {
    background: url('../images/XRayMachine_Transparent_Opaque.png') no-repeat center;
    background-size:300px;
}

.div-hs-background-img {
    background: url('../images/HydratedSolutions_Transparent_Opaque.png') no-repeat center;
    background-size:300px;
}

.div-ss-background-img {
    background: url('../images/StandardSuite_Opaque.jpg') no-repeat center;
    background-size:300px;
}

.div-es-background-img {
    background: url('../images/EnterpriseSuite_Opaque.jpg') no-repeat center;
    background-size:300px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/*.metrouicss .page {
    background-color: #FFFFFF;
    /*margin: auto;
    width: 940px;*/
/*}*/
.browsers-icons img {
    float: left;
    margin-right: 20px;
}
.github-info {
}
#brand-name {
    line-height: 24px;
    margin-top: 2px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    border-color: -moz-use-text-color -moz-use-text-color #DDDDDD;
    border-image: none;
    border-style: none none dotted;
    border-width: 0 0 1px;
    color: #DDDDDD;
}
#social {
    margin-bottom: 90px;
}
#shareme .box {
    clear: both;
    margin: 5% 8% 0;
    width: 100%;
}
#shareme .box a {
    color: #404040;
    text-shadow: 0 1px 1px rgba(167, 167, 167, 0.4);
}
#shareme .box a:hover {
    text-decoration: none;
}
#shareme .count {
    border-right: 2px solid #57B8D1;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 40px;
    padding-right: 10px;
}
#shareme .share {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    width: 82px;
}
#shareme .buttons {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 100px;
    padding: 10px;
    position: absolute;
    width: 294px;
}
#shareme .button {
    background-color: transparent;
    float: left;
    margin: 0 15px 0 0;
    max-width: 50px;
    min-width: 10px;
}
#shareme .facebook {
    margin: 0 4px 0 0;
}
#carousel1 {
    height: 242px;
}
#sponsorBlock {
    height: 300px;
}
#page-index .carousel .control {
    bottom: -40px;
    left: auto;
    top: auto;
}
#page-index .carousel .control.left {
    right: 100px;
}
#page-index .carousel .control.right {
    right: 30px;
}
.metrouicss .charms, .metrouicss .app-bar, .metrouicss .message-dialog, .metrouicss .error-bar, .metrouicss .warning-bar, .metrouicss .info-bar {
    position: absolute;
}
.metrouicss .hero-unit > img {
}
.metrouicss .browsers-icons img {
}
.metrouicss .hero-unit > img {
}
.metrouicss .modern-ui-logo {
    height: 24px;
    width: 24px;
}
.metrouicss .github-info {
    margin-top: 5px;
}
.metrouicss a, .metrouicss .link {
    font-size: 9pt;
}
.metrouicss h3 {
    line-height: 11px;
}
.metrouicss .no-mobile {
    display: none;
}
.metrouicss #carousel1 {
    height: 300px !important;
}
.metrouicss .hero-unit img {
    display: none;
}
.metrouicss #jetbrains {
    display: none;
}
.metrouicss #brand-name {
    display: none;
}

.metrouicss .nav-bar-clear {
  position: relative;
  top: 0;
  left: -15px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1000;
  *zoom: 1;
}
.metrouicss .nav-bar-clear .nav-bar-inner {
  *zoom: 1;
}
.metrouicss .nav-bar-clear .nav-bar-inner .element,
.metrouicss .nav-bar-clear .nav-bar-inner a .element {
  position: relative;
  margin: 5px;
  line-height: 20px;
  height: 20px;
  float: left;
  display: inline-block;
  padding: 0;
  font-weight: normal;
  font-size: 10pt;
  color: #fff;
}
.metrouicss .nav-bar-clear .nav-bar-inner .element.brand,
.metrouicss .nav-bar-clear .nav-bar-inner a .element.brand {
  font-size: 1.15em;
}
.metrouicss .nav-bar-clear .nav-bar-inner .element img,
.metrouicss .nav-bar-clear .nav-bar-inner a .element img {
  height: 100%;
}
.metrouicss .nav-bar-clear .nav-bar-inner .element a,
.metrouicss .nav-bar-clear .nav-bar-inner a .element a {
  line-height: 20px;
  height: 20px;
  font-size: 10pt;
}
.metrouicss .nav-bar-clear .nav-bar-inner .element [class^="icon-"]:before,
.metrouicss .nav-bar-clear .nav-bar-inner a .element [class^="icon-"]:before,
.metrouicss .nav-bar-clear .nav-bar-inner .element [class*=" icon-"]:before,
.metrouicss .nav-bar-clear .nav-bar-inner a .element [class*=" icon-"]:before {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  margin: 0 5px;
}
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu {
  margin-left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li {
  display: block;
  float: left;
  margin-right: 5px;
  position: relative;
  padding: 5px 15px 5px 5px;
}
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li a {
  display: block;
  float: left;
  color: #ffffff;
  font-size: 10pt;
}
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li ul.dropdown-menu {
  z-index: 1001;
  border: 0;
  left: 0px;
}
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li ul.dropdown-menu li a {
  display: block;
  float: none;
  color: #1e1e1e;
  padding: 3px 20px;
}
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu.open {
  display: block !important;
}
.metrouicss .nav-bar-clear .nav-bar-inner > .divider,
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.divider {
  position: relative;
  margin: 5px;
  line-height: 20px;
  height: 20px;
  float: left;
  display: inline-block;
  padding: 0;
  font-weight: normal;
  font-size: 10pt;
  color: #fff;
  width: 1px;
  border-right: 1px #e6e6e6 solid;
}
.metrouicss .nav-bar-clear .nav-bar-inner > .divider.brand,
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.divider.brand {
  font-size: 1.15em;
}
.metrouicss .nav-bar-clear .nav-bar-inner > .divider img,
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.divider img {
  height: 100%;
}
.metrouicss .nav-bar-clear .nav-bar-inner > .divider a,
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.divider a {
  line-height: 20px;
  height: 20px;
  font-size: 10pt;
}
.metrouicss .nav-bar-clear .nav-bar-inner > .divider [class^="icon-"]:before,
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.divider [class^="icon-"]:before,
.metrouicss .nav-bar-clear .nav-bar-inner > .divider [class*=" icon-"]:before,
.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.divider [class*=" icon-"]:before {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  margin: 0 5px;
}
.metrouicss .nav-bar-clear .nav-bar-inner [data-role=dropdown] {
  margin-right: 20px !important;
}
.metrouicss .nav-bar-clear .nav-bar-inner [data-role=dropdown] > a {
  cursor: pointer;
}
.metrouicss .nav-bar-clear .nav-bar-inner [data-role=dropdown] > a:before {
  position: absolute;
  content: "\203A";
  display: block;
  font-size: 1.4em;
  left: 100%;
  margin-left: -10px;
  top: 8px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.metrouicss .nav-bar-clear .nav-bar-inner:before,
.metrouicss .nav-bar-clear .nav-bar-inner:after {
  display: table;
  content: "";
}
.metrouicss .nav-bar-clear .nav-bar-inner:after {
  clear: both;
}
.metrouicss .nav-bar-clear:before,
.metrouicss .nav-bar-clear:after {
  display: table;
  content: "";
}
.metrouicss .nav-bar-clear:after {
  clear: both;
}
.metrouicss .nav-bar-clear.fixed-top,
.metrouicss .nav-bar-clear.fixed-bottom {
  position: fixed;
  z-index: 10000;
  left: 0;
}
.metrouicss .nav-bar-clear.fixed-top {
  top: 0;
  bottom: auto;
}
.metrouicss .nav-bar-clear.fixed-bottom {
  bottom: 0;
  top: auto;
}
.metrouicss .nav-bar-clear .nav-bar-inner.container {
  width: 940px;
  margin: auto;
}

.metrouicss .nav-bar-clear .nav-bar-inner > ul.menu > li.blackdivider {
  position: relative;
  margin: 5px;
  line-height: 20px;
  height: 20px;
  float: left;
  display: inline-block;
  padding: 0;
  font-weight: normal;
  font-size: 10pt;
  width: 1px;
  color: black;
  border-right: 1px #000000 solid;
}

.CopyrightDiv {
    text-align:center;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: 33%;
}
.DivCentrePage {
    background-color: rgba(255, 255, 255, 0.9); /* Color white with alpha 0.9*/
    margin:0 auto;
    text-align:left;
    width:90%;
    clear:both;
}
.centeredFooter {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
}
.centeredElement {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
.horizontallyCenteredElement {
    position: relative;
    left: 50%;
    margin-left: -100px;
}
.rightAlignedElement {
    position: relative;
    left: 100%;
    margin-left: -200px;
}
#box {
    margin:0 auto;
    position: fixed;
    width: 89%;
    top: 140px;
    bottom: 10px;
    clear:both;
    opacity:0.4;
    text-align:center;
    vertical-align:central ;
    align-content: center;
    border:2px solid maroon;
    background-color:red;
    font-family:'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color:black;
}
[class*="span"] {
    float: left;
}
.span12 {
    width: 1170px;
}
.span11 {
    width: 1070px;
}
.span10 {
    width: 970px;
}
.span9 {
    width: 870px;
}
.span8 {
    width: 770px;
}
.span7 {
    width: 670px;
}
.span6 {
    width: 570px;
}
.span5 {
    width: 470px;
}
.span4 {
    width: 370px;
}
.span3 {
    width: 270px;
}
.span2 {
    width: 170px;
}
.span1 {
    width: 70px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
}
.row-fluid:after {
    clear: both;
}
.row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.12766%;
}
.row-fluid > [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid > .span12 {
    width: 100%;
}
.row-fluid > .span11 {
    width: 91.4894%;
}
.row-fluid > .span10 {
    width: 82.9787%;
}
.row-fluid > .span9 {
    width: 74.4681%;
}
.row-fluid > .span8 {
    width: 65.9574%;
}
.row-fluid > .span7 {
    width: 57.4468%;
}
.row-fluid > .span6 {
    width: 48.9362%;
}
.row-fluid > .span5 {
    width: 40.4255%;
}
.row-fluid > .span4 {
    width: 31.9149%;
}
.row-fluid > .span3 {
    width: 22.0000%;
}
.row-fluid > .span2 {
    width: 14.8936%;
}
.row-fluid > .span1 {
    width: 6.38298%;
}
.preScrollable {
    width: 100%;
    overflow: scroll;
}

.Homepage {
    height: 450px;
}
.Sample {
    height: 420px;
}

.Licence {
    height: 530px;
}

ul.circle {
	list-style-type: circle;
}
h5.footer {
  color:white;
  font-weight:bold;
  font-size: 0.83em;
  margin: 1.67em 0;
}
a.footer {
  color:white;
}
a.twitter {
    background: url("/images/twitter3.png") no-repeat scroll 0.4em 0.1em transparent;
}
a.email {
    background: url("/images/email.png") no-repeat scroll 0.4em 0.1em transparent;
}