<footer style="text-align:center; margin:5px 0 0 0; width:89%; display: block; clear:both">
	<div class="nav-bar">
		<div class="nav-bar-inner padding10">
			<span class="pull-menu"></span>
			<a href="/">
				<span class="element brand">
					<img class="place-left" style="height: 20px" src="../images/fcs.png"/>
					Full Circle Solutions
				</span>
			</a>
			<div class="divider"></div>
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/about.htm">About Us</a></li>
				<li><a href="/contact.htm">Contact</a></li>
			</ul>
		</div>
	</div>
</footer>