<footer style="margin:5px 0 0 0; width:89%; display: block; clear:both">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
 			<div class="row-fluid">
				<div class="span4">
					<h5 class="footer">Full Circle Solutions</h5>
					<a class="footer" href="/about.htm">About us</a>
					<br>
					<a class="footer" href="https://trello.com/fullcirclesolutions1">Upcoming Features</a>
					<br>
					<a class="footer" href="/privacy.htm">Privacy policy</a>
				</div>
				<div class="span4">
					<h5 class="footer">Help &amp; Support</h5>					
					<a class="footer" href="https://fullcirclesolutions.uservoice.com">Help Forum</a>
					<br>
					<a class="footer" href="http://sites.fastspring.com/fullcirclesolutions/order/contact">Contact Us</a>
				</div>
				<div class="span4">
					<h5 class="footer">Follow us</h5>
					<img src="/images/email.png">
					<a class="footer" href="http://eepurl.com/Ch0-f">Mailing List</a>
					<br>
					<img src="/images/twitter3.png">
					<a class="footer" href="https://twitter.com/360DegSolutions">@360DegSolutions</a>
				</div>
				<div class="span4">
					<h5 class="footer">&copy; 2013 - {{ page.date | date: "%Y" }} <a class="footer" href="/">Full Circle Solutions</a></h5>
				</div>
			</div>			
        </div>
    </div>
</footer>
