<footer style="margin:5px 0 0 0; width:89%; display: block; clear:both">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
 			<div class="row-fluid">
				<div class="span3">
					<h5>Full Circle Solutions</h5>
					<p>
						<a href="/about.htm">About us</a>
						<br>
						<a href="https://trello.com/fullcirclesolutions1">Upcoming Features</a>
						<br>
						<a href="/privacy.htm">Privacy policy</a>
					</p>
				</div>
				<div class="span3">
					<h5>Help &amp; Support</h5>
					<p>
						<a href="https://fullcirclesolutions.uservoice.com">Help Forum</a>
						<br>
						<a href="mailto:threesixtydegreesolutions@gmail.com">Email Us</a>
					</p>
				</div>
				<div class="span3">
					<h5>Follow us</h5>
					<p>
						<a href="http://eepurl.com/Ch0-f">Mailing List</a>
						<br>
						<a href="https://twitter.com/360DegSolutions">@360DegSolutions</a>
						<br>
					</p>
				</div>
				Copyright &copy; <a href="/">Full Circle Solutions</a> 2013. All Rights Reserved.
			</div>			
        </div>
    </div>
</footer>

