<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <h4>Contact</h4>
                    <ul class="info-list md-list i-primary">
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a href="mailto:contact@fullcirclesolutions.com.au">contact@fullcirclesolutions.com.au</a>
                        </li>
                        <!--<li>
                            <i class="fa fa-phone fa-fw"></i>
                            +61 9999 8888
                        </li>-->
                        <li>
                            <i class="fa fa-map-marker fa-fw"></i>
                            Melbourne, Australia
                        </li>
                    </ul>
                </div>
                <div class="space-sm visible-sm visible-xs"></div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <h4>Quick Links</h4>
                    <ul class="info-list md-list i-primary">
                        <li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/whysaucery.html"><span class="link-title">Why</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/SauceryNUnit/home.html"><span class="link-title">Products</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/pricing.html"><span class="link-title">Pricing</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/download.html"><span class="link-title">Download</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/benefits.html"><span class="link-title">Benefits</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/howto.html"><span class="link-title">How To</span></a>
                        </li>
						<!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/changelog.html"><span class="link-title">Change Log</span></a>
                        </li>-->
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/contact.html"><span class="link-title">Contact</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/subscribe.html"><span class="link-title">Subscribe</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/about.html"><span class="link-title">About Us</span></a>
                        </li>
                        <!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="#">
                                <span class="link-title">Services</span></a>
                        </li>-->
                        <!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/team.html"><span class="link-title">Our Team</span></a>
                        </li>-->
                        
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/privacy.html">
                                <span class="link-title">Privacy</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/terms.html">
                                <span class="link-title">Terms</span></a>
                        </li>
                        <!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="#">
                                <span class="link-title">Blog</span>- Breaking news</a>
                        </li>-->
                    </ul>
                </div>
                <div class="space-sm visible-sm visible-xs"></div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <h4>About Us</h4>
                    <p>Founded in 2008, Full Circle Solutions is based in Melbourne, Australia. We love automating things and are always on the lookout for cool new ways to deliver awesomeness.</p>
                    <div class="space-sm"></div>
                    <h4>Follow Us</h4>
                    <ul class="circle-icons icons-list">
                        <li>
                            <a href="http://google.com/+FullcirclesolutionsAutomateEverything" target="_blank" title="Follow us">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/360degsolutions" target="_blank" title="Follow us">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <!--<li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-tumblr"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>© 2008-{{ site.time | date: "%Y" }} Full Circle Solutions. All rights reserved.</p>
        </div>
    </div>
</footer>
