<meta charset="utf-8" />
<meta name="google-site-verification" content="BWZPLkUeJt9duLUiAdglPN_SAhBOoeuSOrYiBbJy2lU" /> 
<meta name="description" content="{{ page.meta-description }}" />
<meta name="keywords" content="{{ page.meta-keywords }}" />
<meta name="canonical" href="{{ page.url | canonical }}" />
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1"/>
<meta name="author" content="Andrew Gray (Full Circle Solutions)" />
<meta name="PUBLISHER" content="www.fullcirclesolutions.com.au"/>
<meta name="LANGUAGE" content="English"/>
<meta name="COPYRIGHT" content="{{ page.date | date: "%Y" }} Full Circle Solutions"/>