<li class="col-xs-12 col-sm-12 col-md-12">
	<div align="center">
		<h3>Saucery for NUnit 2</h3>
		<p>C# Automated Testing</p>
		<p>
			<a href="http://http://www.seleniumhq.org"><img src="../images/selenium.png" alt="Selenium" width="24" height="24" border="0"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../images/appium.png" alt="Appium" width="24" height="24" border="0"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery2" target="_blank">NuGet</a></p>
	<div>
</li>
<li class="col-xs-12 col-sm-12 col-md-12">
	<div align="center">
		<a href="/trial2.html" class="btn btn-primary">Try free for 30 days</a>
		<div class="space-sm"></div>
		<div style="display:inline-block; vertical-align: middle;">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="D5BAG8PKLJG3Y">
				<input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	<div>
</li>
<li class="col-xs-12 col-sm-12 col-md-12">
	<div align="center">
		<h3>Saucery for NUnit 3</h3>
		<p>C# Automated Testing</p>
		<p><a href="http://http://www.seleniumhq.org"><img src="../images/selenium.png" alt="Selenium" width="24" height="24" border="0"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../images/appium.png" alt="Appium" width="24" height="24" border="0"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery3" target="_blank">NuGet</a></p>
	</div>
</li>
<li class="col-xs-12 col-sm-12 col-md-12">
	<div align="center">
		<a href="/trial3.html" class="btn btn-primary">Try free for 30 days</a>
		<div class="space-sm"></div>
		<div style="display:inline-block; vertical-align: middle;">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8VXSCPWMVFUBA">
				<input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
</li>