.csharpcode, .csharpcode pre
{
	font-size: small;
	color: #DCDCDC;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #1E1E1E;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #57A64A; }

.csharpcode .kwrd { color: #3987D6; }

.csharpcode .class { color: #45C981; }

.csharpcode .annotation { color: #45C981; }

.csharpcode .enum { color: #B8D778; }

.csharpcode .str { color: #D69D73; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.csharpcode .lnum { color: #606060; }