<!DOCTYPE html>
<html lang="en">
	<head>
		<title> {{ page.title }} </title>
		{% include meta-tags.html %}
		{% include link-rels.html %}
		{% include script-rels.html %}
		{% if page.custom_js %}
			<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
			<script type="text/javascript" src="../assets/js/min/fcs.min.js"></script>
		{% endif %}
		
		{% if page.nunit_js %}
			<script type="text/javascript" src="../assets/js/saucerynunit/thankyoucheck.min.js"></script>
		{% endif %}
		
		{% if page.junit_js %}
			<script type="text/javascript" src="../assets/js/sauceryjunit/thankyoucheck.min.js"></script>
		{% endif %}
		
	</head>
	<body>
		{% include top-menu.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>