<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title> {{ page.title }} </title>
		<meta charset="utf-8"/>
		<meta content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>
		<meta content="Full Circle Solutions - Solutions from every angle" name="description"/>
		<meta content="Andrew Gray (Full Circle Solutions)" name="author"/>
		<meta content=".NET Solutions XML Visual Studio invoices invoicing JSON" name="keywords"/>
		<meta name="PUBLISHER" content="www.fullcirclesolutions.com.au"/>
		<meta name="LANGUAGE" content="English"/>
		<meta name="COPYRIGHT" content="Full Circle Solutions"/>
		<link rel="SHORTCUT ICON" href="../icons/fcs128x128.ico" type="image/x-icon" />
		<link rel="ICON" href="/icons/fcs128x128.ico" type="image/x-icon" />
		<link href="../content/metroui/css/modern.css" type="text/css" rel="stylesheet" />
		<link href="../content/metroui/css/modern-responsive.css" type="text/css" rel="stylesheet" />
		<link href="../content/site.css" type="text/css" rel="stylesheet"/>
		<link href="../scripts/metroui/google-code-prettify/prettify.css" type="text/css" rel="stylesheet"/>
		<script src="http://www.google-analytics.com/ga.js" type="text/javascript" async=""></script>
		<script src="../scripts/jquery-2.0.1.min.js" type="text/javascript"></script>
		<script src="../scripts/jquery.mousewheel.min.js" type="text/javascript"></script>
		<script src="../scripts/metroui/buttonset.js" type="text/javascript"></script>
		<script src="../scripts/metroui/calendar.js" type="text/javascript"></script>
		<script src="../scripts/metroui/carousel.js" type="text/javascript"></script>
		<script src="../scripts/metroui/dialog.js" type="text/javascript"></script>
		<script src="../scripts/metroui/dropdown.js" type="text/javascript"></script>
		<script src="../scripts/metroui/input-control.js" type="text/javascript"></script>
		<script src="../scripts/metroui/moment.js" type="text/javascript"></script>
		<script src="../scripts/metroui/moment_langs.js" type="text/javascript"></script>
		<script src="../scripts/metroui/pagecontrol.js" type="text/javascript"></script>
		<script src="../scripts/metroui/rating.js" type="text/javascript"></script>
		<script src="../scripts/metroui/slider.js" type="text/javascript"></script>
		<script src="../scripts/metroui/start-menu.js" type="text/javascript"></script>
		<script src="../scripts/metroui/tile-drag.js" type="text/javascript"></script>
		<script src="../scripts/metroui/tile-slider.js" type="text/javascript"></script>
	</head>
	<body class="metrouicss">
		<div class="DivCentrePage">
			<form id="form1">
					{% include banner.html %}
					{{ content }}
			</form>
		</div>
	</body>
</html>